@font-face {
  font-family: 'GothamBold';
  src: url(./font/Gotham\ Bold.otf) format('truetype');
}
@font-face {
  font-family: 'GothamBook';
  src: url(./font/Gotham\ Book\ Regular.otf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(./font/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./font/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url(./font/Montserrat-Thin.ttf) format('truetype');
}
/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%;
}

body {
  font-size: 100%;
  font-family: Montserrat-Regular, sans-serif;
  /* color: #4e6361; */
  background-color: #fcfcfc;
  max-width: 100%;
  /* overflow-x: hidden; */
}

a {
  color: #fff;
}
a:hover {
  color: #ff473a;
  text-decoration: none;
}

/* first section */
.section-hero {
  background: url(./img/chan_hero.jpg) no-repeat fixed;
  background-size: cover;
  background-position-x: center;
  height: 720px;
  overflow: hidden;
  color: #fff;
  font-family: Montserrat;
}
.navbar {
  color: #fff;
}
.navbar-brand {
  font-family: Montserrat-Bold;
}
.hero-upper {
  height: 430px;
}
.greet h1{
  font-family: Montserrat-Bold;
  font-size: 3em;
}


/* second section about */
.section-about {
  height: 720px;
  background: url(./img/chan_about.png) no-repeat fixed;
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
  color: #fff;
  font-family: Montserrat;
}
.section-about h1 {
  font-family: Montserrat-Bold;
}

.intro-upper {
  height: 280px;
}
.section-about #intro-detail {
  color: rgba(252, 252, 252, 0.8);
}
.fab {
  font-size: 1.5em;
}

/* third section */
.section-portfolio {
  height: 1500px;
  background-color: #fcfcfc;
  color: #194964;
  font-family: Montserrat;
}
.section-portfolio a {
  color: #454545;
}
.portfolio-upper {
  height: 120px;
}
.portfolio-box-outer {
  padding: 40px;
  border-top: #ff473a 0.5px solid;
  border-bottom: #ff473a 0.5px solid;
}
.responsive-image {
  width: 100%;
  height: auto;
}
.portfolio {
  margin-bottom: 80px;
}
.portfolio-box-links {
  padding-top: 20px;
}
/* TODO Move to Reponsive CSS */
.portfolio-box-inner {
  padding: 20px;
}

